@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
    will-change: transform;
  }
  .animate-fade-in {
    animation: fade-in 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-very-pretty {
    @apply hyphens-auto whitespace-pre-wrap text-pretty break-keep;
  }
}
